<body>
  <h1>Beginner Difficulty</h1>
  <div class="center">
    <div *ngFor="let row of board.grid">
      <div class="game-row">
        <div *ngFor="let tile of row">
          <div *ngIf="!tile.clicked" class="btn btn-default game-button" (click)="clickTile(tile)">
          </div>
          <div *ngIf="tile.clicked" class="game-tile">
            <i class="fa fa-bomb" aria-hidden="true" *ngIf="tile.mineHere"></i>
            <div *ngIf="!tile.mineHere">
              <p *ngIf="tile.mineNumber > 0">
                {{tile.mineNumber}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
