<body oncontextmenu="return false">
  <h1>{{difficulty}} Difficulty</h1>
  <div class="center">
    <div class="inline-flexer">
      <div class="sidebar">
        <i class="fa fa-meh-o" aria-hidden="true" *ngIf="userClick"></i>
        <div *ngIf="!userClick">
          <i class="fa fa-frown-o" aria-hidden="true" *ngIf="board.gameOver"></i>
          <i class="fa fa-smile-o" aria-hidden="true" *ngIf="!board.gameOver"></i>
        </div>
        <div class="sidebar-detail">
          <p>{{board.mineNumber - board.flagNumber}}</p>
        </div>
        <div class="sidebar-detail">
          <p>{{board.secondsElapsed}}<span class="small-spacer"></span>s</p>
        </div>
        <button class="btn" (click)="startGame()">Restart</button>
      </div>

      <div class="flexer-content">
        <div class="game-board">
          <div *ngIf="!board.gameOver && !board.gameWon">
            <div *ngFor="let row of board.grid">
              <div class="game-row">
                <div *ngFor="let tile of row">
                  <div *ngIf="!tile.clicked" class="btn btn-default game-button" (mouseup)="mouseClick($event, tile)" (mousedown)="userClicking()">
                    <div *ngIf="tile.flagHere"><i class="fa fa-flag" aria-hidden="true"></i></div>
                    <div *ngIf="tile.questionHere"><i class="fa fa-question-circle-o" aria-hidden="true"></i></div>
                  </div>
                  <div *ngIf="tile.clicked" class="game-tile" (mouseup)="clickTile(tile)" (mousedown)="userClicking()">
                    <i class="fa fa-bomb" aria-hidden="true" *ngIf="tile.mineHere"></i>
                    <div *ngIf="!tile.mineHere">
                      <p *ngIf="tile.mineNumber > 0">
                        {{tile.mineNumber}}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="game-board">
          <div *ngIf="board.gameOver || board.gameWon">
            <div *ngFor="let row of board.grid">
              <div class="game-row">
                <div *ngFor="let tile of row">
                  <div *ngIf="!tile.clicked" class="btn btn-default game-button">
                    <div *ngIf="tile.flagHere"><i class="fa fa-flag" aria-hidden="true"></i></div>
                    <div *ngIf="tile.questionHere"><i class="fa fa-question-circle-o" aria-hidden="true"></i></div>
                  </div>

                  <div *ngIf="tile.clicked" class="game-tile">

                    <div *ngIf="!tile.gameEnder">
                      <i class="fa fa-bomb" aria-hidden="true" *ngIf="tile.mineHere"></i>
                    </div>
                    <div *ngIf="tile.gameEnder">
                      <div class="end-bg">
                        <i class="fa fa-bomb" aria-hidden="true" *ngIf="tile.mineHere"></i>
                      </div>
                    </div>

                    <div *ngIf="!tile.mineHere">
                      <p *ngIf="tile.mineNumber > 0">
                        {{tile.mineNumber}}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <h5 *ngIf="board.gameOver">Game over, man! Game over!</h5>
            <h5 *ngIf="board.gameWon">You did it!</h5>
            <h2 *ngIf="board.gameOver || board.gameWon">You clicked {{board.clickNumber}} times.</h2>
          </div>
        </div>
      </div>

      <div class="flexer-right-filler">

      </div>

    </div>
  </div>
</body>
