/* You can add global styles to this file, and also import other style files */
body {
  font-size: 0;
  line-height: 0;
  background-color: deepskyblue;
}

h1 {
  text-align: center;
}

h5 {
  font-size: 36px;
}

.inline-flexer {
  display: inline-flex;
  width: 100%;
  flex: 1;
}

.game-board {
  text-align: center;
}

.flexer {
  display: flex;
}

.flexer-content {
  flex: 1;
}

.flexer-right-filler {
  flex: 0 0 100px;
  height: 100%;
}

.sidebar {
  height: 15vh;
  background-color: gray;
  flex: 0 0 100px;
  font-size: 16px;
}

.sidebar-detail {
  background-color: black;
  color: white;
  height: 35px;
  width: 80%;
  margin: 10%;
  margin-top: 25%;
}

.sidebar i {
  color: white;
  font-size: 30px;
  margin-top: 1vh;
}

.game-row {
  display: inline-flex;
  margin: 0px;
  padding: 0px;
}

.game-button {
  height: 30px;
  width: 30px;
  border-radius: 0px;
  background-color: darkgray;
  line-height: 15px;
  font-size: 20px;
}

.game-button i {
  margin: 0;
  margin-left: -6px;
  margin-top: -2px;
}

.game-button:hover {
  background-color: gray;
}

.game-tile {
  margin: 0px;
  height: 30px;
  width: 30px;
  background-color: lightgray;
  border: 1px solid darkgray;
  font-size: 18px;
}

.game-tile i {
  margin: 6px;
}

.game-tile .end-bg {
  background-color: orange;
}

i {
  color: red;
}

.game-tile p {
  line-height: 1.4em;
}

.center {
  text-align: center;
}
